<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Calculator" verbose="1">
    <test name="sums">
        <classes>
            <class name="serenitydojo.tutorial.testng.SampleTest"/>
        </classes>
    </test>

    <test name="Regression">
        <classes>
            <class name="serenitydojo.tutorial.testng.RegressionTest"/>
        </classes>
    </test>
</suite>

